@import "tailwindcss";
@import "../styles/tokens.css";
@import "../styles/utilities.css";

body {
  background: var(--smf-color-background);
  color: var(--smf-color-text);
  font-family: var(--font-source-sans-3), sans-serif;
}
